<div class="row">
  <ul class="list-group col-xs-6">
    <app-meal-summary
      class="list-group-item"
      *ngFor="let meal of meals"
      [name]="meal.name"
      [calories]="meal.calories">
    </app-meal-summary>
  </ul>
</div>

