<div class="row">
  <ul class="list-group col-xs-6">
    <app-schedule-summary
      class="list-group-item"
      *ngFor="let schedule of schedules"
      [name]="schedule.name"
      [caloriesPerDay]="schedule.caloriesPerDay">
    </app-schedule-summary>
  </ul>
</div>
