<a
          class="clearfix"
          style="cursor: pointer; text-decoration: none; color: inherit;">
  <h4
            class="list-group-item-heading">
            {{ name }}
  </h4>
  <p class="list-group-item-text">
            {{ caloriesPerDay }} Calories per day
  </p>
</a>
