<div class="row">
  <ul class="list-group col-xs-6">
    <app-recipe-summary
      class="list-group-item"
      *ngFor="let recipe of recipes"
      [name]="recipe.name"
      [calories]="recipe.calories">
    </app-recipe-summary>
  </ul>
</div>
